<!DOCTYPE html>
<html>
<head>
  <title><%= @website_name %> - Calendrier</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "calendar" %>
  <%= javascript_include_tag "jquery-1.11.3.min" %>
</head>
<body>
 <h2><%= @website_name %> - Calendrier</h2>

 <div id="prices">
   <ul class="h4">
     <% @prices.each do |price| %>
      <li><%= price.value %> <%= price.key %></li>
     <% end %>
    <li><a href="/mode-emploi.pdf?<%= (Time.now.to_f * 1000).to_i %>">MODE D’EMPLOI</a></li>
  </ul>
 </div>

<div id="main">
 <div class="hcalendar">
    <a class="btn btn-success" href="/bookings/new?start=01<%= start_date.strftime("%m%Y") %>">Réserver</a>
    <a class="btn btn-default" href="/calendar/<%= (date_range.first - 1.day).strftime("%m%Y") %>"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="btn btn-default" href="/calendar/<%= (date_range.last + 1.day).strftime("%m%Y") %>"><span class="glyphicon glyphicon-chevron-right"></span></a>
    <div class="month"><%= I18n.t("date.month_names")[start_date.month] %> <%= start_date.year %></div>
 </div>

  <table>
    <col class="weekday" span="7">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= I18n.t("date.day_names")[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
            <% week.each do |day| %>
            <% if start_date.month == day.month %>
              <%= td_occupied(day, @bookings).html_safe %>
            <% else %>
              <td></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div id="popup" class="overlay">
 <div class="popup">
        <h2>Réservation - ERROR</h2>
        <a class="close" href="#">×</a>

        <div class="content">
        <h3><a class="phone" href="tel:0607080405">0607080405</a></h3>
        <ul>
          <li class="full">Tarif Plien: 2</li>
          <li class="reduced">Tarif Réduit: 1</li>
          <li class="night">Nuits: 3</li>
          <li class="total">Prix: 40€</li>
        </ul>
        <h4 class="date">06/10/2015 au 09/10/2015</h4>
        <h4 class="contact">Contact: ERROR - <a class="cphone" href="tel:0600606009">0600606009</a></h4>
        </div>
        <div class="action">
            <form id="delete" class="delete" method="post" action="/bookings/">
              <input type="hidden" name="_method" value="delete" />
            </form>
            <a class="btn btn-danger" href="#" rel="nofollow">Supprimer</a>
            <a class="btn pull-right btn-success" href="booking">Modifier</a>
        </div>
 </div>
</div>

<script>
function set_detail() {
  var id = $(this).attr('id');
  $.getJSON( "/bookings/"+id, function( json ) { booking(json); });
}

function booking(data) {
 console.log(data);
 var popup = $("div.popup");
 popup.find("h2").text("Réservation - " + data.booking.name);
 popup.find("a.phone").attr('href', "tel:" + data.booking.phone);
 popup.find("a.phone").text(data.booking.phone);
 popup.find("li.full").text("Tarif Plein: " + data.booking.full_price);
 popup.find("li.reduced").text("Tarif Réduit: " + data.booking.reduced_price);
 popup.find("li.night").text("Nuits: " + data.night);
 popup.find("li.total").text("Prix: " + data.total + "€");
 popup.find("h4.date").text(data.booking.start + " au " + data.booking.end);
 popup.find("h4.contact").html("Contact: "+ data.contact.name +" - <a href='tel:"+ data.contact.phone +"'>"+ data.contact.phone +"</a>");

 popup.find("form.delete").attr('action', "/bookings/" + data.booking.id);
 popup.find("a.btn-success").attr('href', "/bookings/"+ data.booking.id +"/edit");
}

function submit_delete() {
 $("form.delete").submit();
 console.log("deleted: " + $("form.delete").attr('action'));
}

$("a.booking").click(set_detail);
$("a.btn-danger").click(submit_delete);
</script>

</body>
</html>
