<title><%= Rails.configuration.x.name %> - Réservation</title>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
<!--  
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap-datepicker3.min.css">
  <link rel="stylesheet" href="/stylesheets/jquery.bootstrap-touchspin.min.css">
  <link rel="stylesheet" href="/stylesheets/booking.css">
  <script src="/javascripts/jquery-1.11.3.min.js"></script>
  <script src="/javascripts/bootstrap-datepicker.min.js"></script>
  <script src="/javascripts/bootstrap-datepicker.fr.min.js" charset="UTF-8"></script>
  <script src="/javascripts/jquery.bootstrap-touchspin.min.js"></script>
-->
  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "bootstrap-datepicker3.min" %>
  <%= stylesheet_link_tag "jquery.bootstrap-touchspin.min" %>
  <%= stylesheet_link_tag "booking" %>
  <%= javascript_include_tag "jquery-1.11.3.min" %>
  <%= javascript_include_tag "bootstrap-datepicker.min" %>
  <%= javascript_include_tag "bootstrap-datepicker.fr.min" %>
  <%= javascript_include_tag "jquery.bootstrap-touchspin.min" %>
</head>
